@import "../../../assets/styles/mixins";
.about_container{
 @include flex-column-center();
  h2{
    font-size: 30px;
  }
  p{
    display: flex;
    align-items: center;
    font-size: 20px;
    mat-icon{
      margin-left: 0.25rem;
    }
  }
}
