.upload_container{
  display: flex;
  justify-content: flex-end;
 button{
   margin: 2rem 1rem 0 0;
   padding: 5px 10px;
   border-radius: 5px;
 }
}
.expansion_panel{
  position: relative;
  .filelist_count{
    margin: 0 0.5rem;
  }

  button.btn_close{
    position: absolute;
    right: 0;
    top:10px;
  }

}
