@import "../../../assets/styles/colors";
@import "../../../assets/styles/mixins";
.expansion_panel{
  position: fixed;
  min-width: 400px;
  padding-bottom: 0 !important;
  &.bottom-right{
    right: 50px;
    bottom: 0;
    z-index: 1;
  }
  &.bottom-left{
    left: 50px;
    bottom: 0;
    z-index: 1;
  }
  span.filelist_count{
    margin: 0 7px;
  }
  ul.files_container{
    max-height: 507px;
    overflow: auto;
    li{
      border: 1px dashed $borderColor;
      padding: 10px;
      @include flex-column();
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 1rem 0;

      div.file_container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .file_info{
          @include flex-column();
          width: 100%;
        }
      }
      .file_progress{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        mat-progress-bar{
          width: 73%;
          margin: 0 auto;
        }
      }
    }
  }

}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: $scrollBg;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $primaryColor ;
  outline: 1px solid $primaryColor ;
  border-radius: 10px;
}

