@import "../assets/styles/colors";

header{
  mat-toolbar{
    ul{
      display: flex;
      max-width: 300px;
      width: 100%;
      li{
        &:first-child{
          margin-right: 1rem;
        }
      }
    }
  }
}
